<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="vb2_robot_description_ros2_control" params="name initial_positions_file">
    <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}_left_arm" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>jaka_dual_control/JakaDualHardware</plugin> -->
        <param name="ip_addr">192.168.2.200</param>
        <param name="rpy">0 1.57079632679 0</param>
      </hardware>
      <joint name="l_j1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j1']}</param>
        </state_interface>
      </joint>
      <joint name="l_j2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j2']}</param>
        </state_interface>
      </joint>
      <joint name="l_j3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j3']}</param>
        </state_interface>
      </joint>
      <joint name="l_j4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j4']}</param>
        </state_interface>
      </joint>
      <joint name="l_j5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j5']}</param>
        </state_interface>
      </joint>
      <joint name="l_j6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j6']}</param>
        </state_interface>
      </joint>
      <joint name="l_j7">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j7']}</param>
        </state_interface>
      </joint>
      <joint name="r_j1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j1']}</param>
        </state_interface>
      </joint>
      <joint name="r_j2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j2']}</param>
        </state_interface>
      </joint>
      <joint name="r_j3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j3']}</param>
        </state_interface>
      </joint>
      <joint name="r_j4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j4']}</param>
        </state_interface>
      </joint>
      <joint name="r_j5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j5']}</param>
        </state_interface>
      </joint>
      <joint name="r_j6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j6']}</param>
        </state_interface>
      </joint>
      <joint name="r_j7">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j7']}</param>
        </state_interface>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_left_right" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>head_control/HeadSystemHardware</plugin>
        <param name="state_topic">vmr/head_joint_state_1</param>
        <param name="p_control_topic">vmr/head_joint_control_1</param> -->
      </hardware>
      <joint name="head_left_right_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['head_left_right_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_up_down" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>head_control/HeadSystemHardware</plugin>
        <param name="state_topic">vmr/head_joint_state_2</param>
        <param name="p_control_topic">vmr/head_joint_control_2</param> -->
      </hardware>
      <joint name="head_up_down_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['head_up_down_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_waist_rotate" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>waist_control/WaistSystemHardware</plugin> -->
        <param name="state_topic">vmr/waist_joint_state</param>
        <param name="p_control_topic">vmr/waist_joint_control</param> 
      </hardware>
      <joint name="waist_rotate_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['waist_rotate_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_waist_lift" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
         <!-- <plugin>waist_control/WaistSystemHardware</plugin> -->
         <param name="state_topic">vmr/raise_state</param>
         <param name="p_control_topic">vmr/raise_control</param>
      </hardware>
      <joint name="waist_lift_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['waist_lift_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_hand_left" type="system">
      <hardware>
        <!-- By default, set up controllers for simulation. This won't work on real hardware -->
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>brainco_control/BraincoRevo1Hardware</plugin> -->
        <param name="slave_id">1</param>
        <param name="port">/dev/ttyUSB1</param>
        <param name="baudrate">115200</param>
      </hardware>
      <joint name="left_hand_thumbCMC">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_thumbCMC']}</param>
        </state_interface>
      </joint>
      <joint name="left_hand_thumbMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_thumbMCP']}</param>
        </state_interface>
      </joint>
      <joint name="left_hand_indexMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_indexMCP']}</param>
        </state_interface>
      </joint>
      <joint name="left_hand_middleMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_middleMCP']}</param>
        </state_interface>
      </joint>
      <joint name="left_hand_ringMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_ringMCP']}</param>
        </state_interface>
      </joint>
      <joint name="left_hand_littleMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_littleMCP']}</param>
        </state_interface>
      </joint>
    </ros2_control>
    <ros2_control name="${name}_hand_right" type="system">
      <hardware>
        <!-- By default, set up controllers for simulation. This won't work on real hardware -->
	      <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>brainco_control/BraincoRevo1Hardware</plugin> -->
        <param name="slave_id">2</param>
        <param name="port">/dev/ttyUSB0</param>
        <param name="baudrate">115200</param>
      </hardware>
      <joint name="right_hand_thumbCMC">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_thumbCMC']}</param>
        </state_interface>
      </joint>
      <joint name="right_hand_thumbMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_thumbMCP']}</param>
        </state_interface>
      </joint>
      <joint name="right_hand_indexMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_indexMCP']}</param>
        </state_interface>
      </joint>
      <joint name="right_hand_middleMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_middleMCP']}</param>
        </state_interface>
      </joint>
      <joint name="right_hand_ringMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_ringMCP']}</param>
        </state_interface>
      </joint>
      <joint name="right_hand_littleMCP">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_littleMCP']}</param>
        </state_interface>
      </joint>
    </ros2_control>

  </xacro:macro>
</robot>
